[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
gunicorn = "*"
pytest = "*"
pytest-cov = "*"

[dev-packages]

[requires]
python_version = "3.9"

[scripts]
coverage = "pytest --cov-report term-missing --cov=."
test = "pytest ."
start = "gunicorn app:app"
dev = "bash -c \"export FLASK_ENV='development' && flask run\""
